*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:
radial-gradient(circle at top,#2a0d17,#090909);
color:white;
overflow-x:hidden;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
background:
linear-gradient(
rgba(0,0,0,.60),
rgba(0,0,0,.80)
),
url("assets/photo8.jpg");
background-size:cover;
background-position:center;
}

.hero-content{
z-index:2;
padding:20px;
}

.hero h1{
font-size:90px;
text-shadow:
0 0 10px #ff7aa2,
0 0 20px #ff7aa2;
}

.hero h2{
color:#ffb6c1;
font-size:40px;
margin-bottom:30px;
}

button{
padding:15px 35px;
border:none;
border-radius:40px;
cursor:pointer;
font-size:16px;
background:#ffb6c1;
font-weight:600;
}

section{
padding:80px 20px;
text-align:center;
}

.hidden{
display:none;
}

.letter{
max-width:800px;
margin:auto;
line-height:2;
font-size:18px;
}

.gallery h2{
margin-bottom:40px;
}

.slider{
display:flex;
overflow-x:auto;
gap:20px;
padding:20px;
scroll-behavior:smooth;
}

.slider img{
width:320px;
height:500px;
object-fit:cover;
border-radius:20px;
transition:.3s;
flex:none;
}

.slider img:hover{
transform:scale(1.05);
}

.cards{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:40px;
}

.card{
padding:30px;
background:#161616;
border-radius:20px;
}

.ending{
height:60vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.ending h1{
font-size:50px;
margin-bottom:20px;
}

@media(max-width:768px){

.hero h1{
font-size:40px;
}

.ending h1{
font-size:32px;
}

}
